aiohttp==3.9.3
aiosignal==1.3.1
altgraph==0.17.4
ansicon==1.89.0
anyio==4.1.0
asttokens==2.4.1
asyncio==3.4.3
attrs==23.2.0
auto-py-to-exe==2.41.0
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
colorama==0.4.6
console==0.9907
decorator==5.1.1
detect==2020.12.3
discord==2.3.2
discord.py==2.4.0
Eel==0.16.0
executing==2.0.1
ezenv==0.92
frozenlist==1.4.1
future==0.18.3
gevent==23.9.1
gevent-websocket==0.10.1
greenlet==3.0.1
h11==0.14.0
httpcore==1.0.2
httpx==0.27.0
icecream==2.1.3
idna==3.6
importlib-metadata==6.8.0
jinxed==1.2.1
keyboard==0.13.5
linkify-it-py==2.0.2
lolcat==1.4
markdown-it-py==3.0.0
mdit-py-plugins==0.4.0
mdurl==0.1.2
multidict==6.0.5
numpy==1.26.4
only==2020.12.3
packaging==23.2
pefile==2023.2.7
progress==1.6
progressbar2==4.4.2
py-cord @ git+https://github.com/Pycord-Development/pycord@43a9ee776d5201f957f84fce130da203f189381d
pyaes==1.6.1
pyasn1==0.6.0
pycparser==2.21
pygame==2.5.2
Pygments==2.17.1
pyinstall==0.1.4
pyinstaller==6.1.0
pyinstaller-hooks-contrib==2023.10
pyopt==0.84
pyparsing==3.1.1
pyTelegramBotAPI==4.14.0
python-telegram-bot==21.2
python-utils==3.8.2
python-vlc==3.0.20123
pywebio==1.8.3
pywifi==1.1.12
pywin32-ctypes==0.2.2
requests==2.31.0
rich==13.7.0
rsa==4.9
setuptools==68.2.2
six==1.16.0
sniffio==1.3.0
telebot==0.0.5
telegram==0.0.1
Telethon==1.35.0
textual==0.41.0
tld==0.13
tornado==6.4
transliterate==1.10.2
typing_extensions==4.8.0
ua-parser==0.18.0
uc-micro-py==1.0.2
urllib3==2.1.0
user-agents==2.2.0
whichcraft==0.6.1
yarl==1.9.4
zipp==3.17.0
zope.event==5.0
zope.interface==6.1
